.form {
  box-sizing: border-box;
  max-width: 350px;
  color: red;
  /* background-color: aqua; */
  padding: 20px;
  margin: auto;
  font-size: large;
}
.login-form {
  margin: auto;
  box-sizing: border-box;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
